pre, .pre  {
  overflow-x: auto;
  overflow-y: hidden;
  overflow:   scroll;
}


pre  code {
  display: block;
  padding: 1.5em 1.5em;
  white-space: pre-wrap;
  font-size: .875rem;
  line-height: 2;
}

pre {
  background-color: #222;
  color: #ddd;
  white-space: pre;

  hyphens: none;
  position: relative;
}


p code {
  background-color: #e5e5e5;
  padding: 4px;
  font-size: 1.05rem;
  line-height: 2;
}

h1 code {
  font-size: 2rem;
  line-height: 2;
}

h2 code {
  font-size: 1.6rem;
  line-height: 2;
}

.the-index-ah p code {
  font-size: 0.9rem;
  line-height: 2;
}

